[submodule ".tmux/plugins/tmux"]
	path = .tmux/plugins/tmux
	url = https://github.com/dracula/tmux
[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
